.idea/
__pycache__/
allure_report/
configs.py
framework/asserts/__pycache__/
framework/clients/__pycache__/
framework/endpoints/__pycache__/
framework/queries/__pycache__/
tests/__pycache__/
tests/product/__pycache__/
tests/registration/__pycache__/
